# Spotify Web API (voor TØNI-releases carousel)
# Aanmaken: https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=cf24fdb7d7e34ced90b5caa3aea3286b
SPOTIFY_CLIENT_SECRET=397d4b30237b405094fe03e5dea71181
